<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Text Utils</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Text Analyzer</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
            
          </nav>
      
      <!-- <div class="alert alert-success" name="success" role="alert">
        <strong>Success!!!</strong> Your Text has been Analyzed
      </div> <br> -->

    <div class="container">
        <form action="\analyze">
            <div class = "form-group">
                <h1>

                    <label for="text1"> Enter Your Text Here</label><br>
                </h1>
                <br>
                <textarea class = "form-control "name="text" id="text1" cols="30" rows="5"></textarea>
            </div>
            <br>
            
            <div class="form-check form-switch">
              <input class="form-check-input" name = "removepunc" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Remove Punctuations</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" name = "fullcaps" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Capitailze</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" name="newlineremove" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">New  Line Remover</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" name="spaceremove" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Space Remover</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" name="charcount" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Character Count</label>
            </div>
            <br>
            
            <button type="submit" class="btn btn-dark">Analyze</button>
          </form>
    </div>

    <br>
  <center>

    <h3>Analyze text - {{purpose}}</h3>
    <p>
      {{analyzed_text}} <br>
      {{count}}
    </p>
  </center>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>